*{margin: 0; padding: 0;box-sizing: border-box;}
:focus{outline: 0;}
.btn.focus, .btn:focus {outline: 0; box-shadow: none;}
button:focus{outline: 0;}
.product_img img{width: 100%;}
header{box-shadow: 0 10px 10px -10px rgba(0,0,0,.1), 0 5px 10px -5px rgba(0,0,0,.2); padding: 10px;}
.header_items{display: flex; align-items: center;}
header .logo{width: 165px; display: inline-block;}
.product_details{padding: 50px 0;}
.product_details .product_date{margin:5px 0; display: flex;}
.product_details .product_date .date_icon{padding: 20px 10px;}
.product_details .product_date .date_icon img{max-width: 50px;}
.product_details .product_date .date_description{padding: 20px 10px; font-weight: 600; font-size: 18px; line-height: 24px;}
.product_info h1{font-size: 24px; font-weight: 600;}
.product_info h2{font-size: 28px; font-weight: 700; margin: 15px 0;}
.product_info h3{font-size: 18px; font-weight: 600; margin: 25px 0;}
.product_info h4{font-size: 15px; font-weight: 600; margin:5px 0 15px 0; color: #555;}
.product_info p{font-size: 14px; font-weight: 600; margin:3px 0; color: #555;}
header .language_d button{background: transparent; border:0; font-size: 18px;}
header .language_d .dropdown-menu{right: 0; left: auto;}
input,
textarea {border: 1px solid #eeeeee;box-sizing: border-box; margin: 0; outline: none; padding: 10px;}
input[type="button"] {-webkit-appearance: button; cursor: pointer;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
.input-group {clear: both; position: relative;}
.input-group input[type='button'] {background-color: #505050; min-width:7%; width: auto; transition: all 300ms ease; font-size: 20px; color: #fff;}
.input-group .button-minus,
.input-group .button-plus {font-weight: bold; height: 38px; padding: 0; position: relative;}
.input-group .quantity-field {position: relative; height: 38px; left: -6px; text-align: center; width:85%; display: inline-block; font-size: 13px; margin: 0 0 5px; resize: vertical;}
.button-plus {left: -13px;}
input[type="number"] {-moz-appearance: textfield; -webkit-appearance: none;}
.ads{margin: 20px 0;}
.cart_info h1 {font-size: 20px; margin: 15px 0;}
.cart_info h2 {font-size: 20px;margin: 0; font-weight: 700; float: left;}
.cart_info .input-group {display: inline-block; width: auto; clear: initial;margin: 0 15px;}
.cart_info .input-group input[type='button']{width: 20px; height: 30px;}
.cart_info .input-group .quantity-field{width: 50px; height: 28px; font-size: 18px;}
.cart_details a.accordion-toggle {
  color: #111;
  font-weight: 700; font-size: 18px;
  border-bottom: 5px solid #111;
  padding: 4px 0;
  display: block;
}

.lottiePlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.form-control:focus{box-shadow: none !important;}
.cart_details a.accordion-toggle:hover{text-decoration: none;}
.cart_details .accordion-group{margin-bottom: 15px;}
.cart_details .accordion-body{border:1px #e9e9e9 solid; padding:25px 15px;}
/* form starting stylings ------------------------------- */
.cart_details .group 			  { 
  position:relative; 
  margin-bottom:10px; 
}
.cart_details .group input 				{
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #eee;
}
.cart_details input:focus 		{ outline:none; }

/* LABEL ======================================= */
.cart_details .group label 				 {
  color:#999; 
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px; margin-bottom: 2px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.cart_details .form-group.group.row label{left:20px;}

/* active state */
.cart_details .group input:focus ~ label, .cart_details .group input:valid ~ label 		{
  top:-8px;
  font-size:14px;
  color:#1ebaea;
}

/* BOTTOM BARS ================================= */
.cart_details .bar 	{ position:relative; display:block; width:100%; }
.cart_details .bar:before, .cart_details .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1ebaea; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.cart_details .bar:before {
  left:50%;
}
.cart_details .bar:after {
  right:50%; 
}

/* active state */
.cart_details input:focus ~ .bar:before, .cart_details input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.cart_details .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.cart_details input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
.cart_details .btn-blue{background: #3d64cb; border:0; width: 100%; padding: 10px; font-size: 15px; color: #fff; margin: 15px 0; font-weight: 600;}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer; max-width: 100px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #111;
}
.radio_img {
  margin: 25px 0;
}
select.custom-select {
  border: 0;
  border-bottom: 1px #eee solid;
  padding: 5px;
  color: #999;
  font-size: 16px;
}
.custom-select:focus{border:0; box-shadow: none;}
label.custom-label{padding: 5px; margin-bottom: 0; margin-top: 5px; font-weight: 600;}

section.fullcolor{background:#4949AD; height: 100vh; overflow: hidden;}
.payment_box{background:#fff; color:#2C2C2C; padding:20px; margin: 50px 0; border-radius: 15px; box-shadow: 0 10px 30px -10px rgba(0,0,0,.1), 0 5px 15px -5px rgba(0,0,0,.2);}
.payment_box h1{font-size: 32px; margin:35px 0;}
.payment_box p{font-size: 20px; padding-right: 70px; margin-bottom: 35px;}
.btn-p{background:#4949AD; padding:8px 20px; border-radius: 35px; border:0; color: #fff;}
.btn-p:hover{background:#5757db;}
.back-btn{color:#fff;}
.back-btn:hover{text-decoration: none; color:#ddd;}
.cart_sec{background:linear-gradient(90deg,#fff 40%,#4949AD 40%); color:#fff; height: 100vh; padding:50px 0; box-shadow: 0 10px 30px -10px rgba(0,0,0,.1), 0 5px 15px -5px rgba(0,0,0,.2);}
.breadcrumb_sec{background:#5556AA; border-radius: 35px; color:#fff; padding:10px 20px}
.breadcrumb_sec span{font-size: 13px; margin:0; display: block;}
.cart_sec h1{font-size: 30px; margin:50px 0; line-height: 38px;}
.cart_sec .price_sec{width:40%; border-top: 2px #fff solid; border-bottom: 2px #fff solid; padding:30px 0; margin-bottom: 35px;}
.cart_sec .price_sec h2{font-size: 40px;}
.cart_sec .price_sec p{font-size: 24px; margin-top: 20px;}
.cart_sec .btn-w{background:#F0F0F0; padding:8px 20px; border-radius: 35px; border:0; color: #2c2c2c;}


.success_screen{padding: 50px 0;}
.success_content img.success_icon{max-width: 175px;}
.success_content h1{font-size: 26px; font-weight:700; margin:40px 0;}
.success_content h2{font-size: 20px; font-weight: 700; margin: 15px 0;}
.success_content p span{font-weight: 700;}
.success_content .btn-blue{background: #3d64cb; padding:14px 20px; font-weight: 600; font-size:20px; width: 100%; color: #fff; border-radius: 0; margin: 25px 0;}
.success_details {padding: 10px 0;}
.success_details h2{  color: #111; font-weight: 700; font-size: 20px; border-bottom: 5px solid #111;padding: 6px 0; margin-bottom: 25px;}
.success_details p{margin: 0;}
.success_details p label{font-size: 16px; width: 40%;}
.success_details p span{font-size: 16px; width: 60%; font-weight: 700;}
.success_product_desc {display: flex; margin: 20px 0; align-items: center;}
.success_product_desc .success_product_img{flex-basis: 20%;}
.success_product_desc .success_product_details{flex-basis: 80%; padding:0 20px;}
.success_product_desc .success_product_details h3{font-size: 16px; font-weight: 600;}
.success_product_desc .success_product_details p{font-size: 16px; font-weight: 700;}
.footer {background: #fff; height: 75px; position: fixed; bottom: 0; transition: bottom 0.2s ease-in-out;width: 100%; border-top: 3px #eee solid; padding: 10px 0;}
.nav-down {bottom: -75px;}
.footer h2{font-size: 16px; padding-right: 15px; font-weight: 600; line-height: 24px;}
.footer_cart{display: flex; padding: 15px 0; align-items: center;}
.footer_cart h3{font-size: 16px; font-weight: 700; margin: 0 15px;}
.footer_cart .input-group{margin:0 10px;}
.footer_cart .input-group .quantity-field{ width:40px; min-width: 40px; font-size: 16px; height: 28px; left: 0;}
.footer_cart .input-group input[type='button']{ font-size: 16px; width: 25px;height: 28px; left: 0;}
.footer_cart .btn-primary {
  width:100%; background: #3d64cb;
  border-radius: 0;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}


footer{background: #111111; padding: 10px 0;}
footer ul{list-style: none; margin: 0; padding: 0; text-align: right;}
footer ul li{display: inline-block; border-left: 1px #eee solid; padding:0 15px;}
footer ul li a{color:#eee; font-size: 13px;}
footer ul li a:hover{color: #fff;}
footer ul li:first-child{border-left: 0;}
footer p{text-align: right; font-size: 12px; color: #eee; padding: 10px; margin: 10px 0 0 0;}

@media only screen and (max-width: 991px){
    section.fullcolor{height: auto;}
    .payment_box h1{margin:20px 0;}
    .payment_box p {padding-right: 0px;margin-bottom: 20px;}
    .success_product_desc .success_product_details h3 {font-size: 14px; margin-bottom: 5px;}
    .footer h2 {font-size: 15px;padding-right:0px;line-height: 22px;}
}
@media only screen and (max-width: 768px){
  .footer{display: none;}
}
@media only screen and (max-width: 500px){
  .success_details p label {font-size: 15px;width: 45%;}
  .success_details p span {font-size: 15px;width:55%;}
  }


  .meter { 
    height: 50px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-top: 15px;
    overflow: hidden;
  }
  
  .meter > div {
    width: 0;
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(57, 108, 252, 1) 25%, 
      rgba(19, 79, 244, 1) 25%, 
      rgba(19, 79, 244, 1) 50%, 
      rgba(57, 108, 252, 1) 50%, 
      rgba(57, 108, 252, 1) 75%, 
      rgba(19, 79, 244, 1) 75%, 
      rgba(19, 79, 244, 1)
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 4s linear infinite;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
  }
  
  
  @keyframes move {
    0% {
      background-position: 200px 200px;
    }
    100% {
      background-position: 0 0;
    }
    
  }
  
  @keyframes expandWidth {
     0% { width: 0; }
     100% { width: 100%; }
  }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer; max-width: 100px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #111;
}
.radio_img {
  margin: 25px 0;
}
select.custom-select {
  border: 0;
  border-bottom: 1px #eee solid;
  padding: 5px;
  color: #999;
  font-size: 16px;
}
.custom-select:focus{border:0; box-shadow: none;}
label.custom-label{padding: 5px; margin-bottom: 0; margin-top: 5px; font-weight: 600;}

section.fullcolor{background:#4949AD; height: 100vh; overflow: hidden;}
.payment_box{background:#fff; color:#2C2C2C; padding:20px; margin: 50px 0; border-radius: 15px; box-shadow: 0 10px 30px -10px rgba(0,0,0,.1), 0 5px 15px -5px rgba(0,0,0,.2);}
.payment_box h1{font-size: 32px; margin:35px 0;}
.payment_box p{font-size: 20px; padding-right: 70px; margin-bottom: 35px;}
.btn-p{background:#4949AD; padding:8px 20px; border-radius: 35px; border:0; color: #fff;}
.btn-p:hover{background:#5757db;}

.cart_sec{background:linear-gradient(90deg,#fff 40%,#4949AD 40%); color:#fff; height: 100vh; padding:50px 0; box-shadow: 0 10px 30px -10px rgba(0,0,0,.1), 0 5px 15px -5px rgba(0,0,0,.2);}
.breadcrumb_sec{background:#5556AA; border-radius: 35px; color:#fff; padding:10px 20px}
.breadcrumb_sec span{font-size: 13px; margin:0; display: block;}
.cart_sec h1{font-size: 30px; margin:50px 0; line-height: 38px;}
.cart_sec .price_sec{width:40%; border-top: 2px #fff solid; border-bottom: 2px #fff solid; padding:30px 0; margin-bottom: 35px;}
.cart_sec .price_sec h2{font-size: 40px;}
.cart_sec .price_sec p{font-size: 24px; margin-top: 20px;}
.cart_sec .btn-w{background:#F0F0F0; padding:8px 20px; border-radius: 35px; border:0; color: #2c2c2c;}


.success_screen{padding: 50px 0;}
.success_content img.success_icon{max-width: 175px;}
.success_content h1{font-size: 26px; font-weight:700; margin:40px 0;}
.success_content h2{font-size: 20px; font-weight: 700; margin: 15px 0;}
.success_content p span{font-weight: 700;}
.success_content .btn-blue{background: #3d64cb; padding:14px 20px; font-weight: 600; font-size:20px; width: 100%; color: #fff; border-radius: 0; margin: 25px 0;}
.success_details {padding: 10px 0;}
.success_details h2{  color: #111; font-weight: 700; font-size: 20px; border-bottom: 5px solid #111;padding: 6px 0; margin-bottom: 25px;}
.success_details p{margin: 0;}
.success_details p label{font-size: 16px; width: 40%;}
.success_details p span{font-size: 16px; width: 60%; font-weight: 700;}
.success_product_desc {display: flex; margin: 20px 0; align-items: center;}
.success_product_desc .success_product_img{flex-basis: 20%;}
.success_product_desc .success_product_details{flex-basis: 80%; padding:0 20px;}
.success_product_desc .success_product_details h3{font-size: 16px; font-weight: 600;}
.success_product_desc .success_product_details p{font-size: 16px; font-weight: 700;}
.footer {background: #fff; height: 75px; position: fixed; bottom: 0; transition: bottom 0.2s ease-in-out;width: 100%; border-top: 3px #eee solid; padding: 10px 0;}
.nav-down {bottom: -75px;}
.footer h2{font-size: 16px; padding-right: 15px; font-weight: 600; line-height: 24px;}
.footer_cart{display: flex; padding: 15px 0; align-items: center;}
.footer_cart h3{font-size: 16px; font-weight: 700; margin: 0 15px;}
.footer_cart .input-group{margin:0 10px;}
.footer_cart .input-group .quantity-field{ width:40px; min-width: 40px; font-size: 16px; height: 28px; left: 0;}
.footer_cart .input-group input[type='button']{ font-size: 16px; width: 25px;height: 28px; left: 0;}
.footer_cart .btn-primary {
  width:100%; background: #3d64cb;
  border-radius: 0;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}

header.absolute_header{position: absolute; top:0; right: 0; left: 0; z-index: 2; box-shadow: none;}
.que_screen{height: 100vh; background: #f4f8f9;}
.que-bg{background: url("../assets/background.png") center center; height: 100vh; background-size: cover; display: flex; align-items: center; padding:15px 30px;}

.que_content{padding: 50px;}
.que_content h1{font-size: 36px;}
.que_content h2{color:#7a7a7a; font-size: 18px; margin: 15px 0 5px 0;}
.que_content p{margin: 10px 0; font-size: 16px; color:#7a7a7a; font-weight: 600;}
.que_content p span{color:#007bff; font-size: 22px; padding: 10px; font-weight: 600;}
.que_content .btn-default{background: #a4aab6; width: 100%; margin-top: 15px; font-size: 18px; color: #d1d4dd; border-radius: 0; padding: 15px;}
.que_content .btn-default a{color: #ffffff;}
.que_content .btn-default a:hover{color: #ffffff; text-decoration: none;}
.que_content .btn-default{color: #d1d4dd;}
.que_content .btn-success{background: #00aa00; width: 100%; margin-top: 15px; font-size: 18px; color: #d1d4dd; border-radius: 0; padding: 15px;}
.que_content .btn-success a{color:#d1d4dd;}
.que_content .btn-success a:hover{color:#d1d4dd; text-decoration: none;}

@media only screen and (max-width: 991px){
    section.fullcolor{height: auto;}
    .payment_box h1{margin:20px 0;}
    .payment_box p {padding-right: 0px;margin-bottom: 20px;}
    .success_product_desc .success_product_details h3 {font-size: 14px; margin-bottom: 5px;}
    .footer h2 {font-size: 15px;padding-right:0px;line-height: 22px;}
    .que-bg{height:50%;}
    footer{display: none;}
    /* .que_screen, .que-bg{height: auto;} */
}
@media only screen and (max-width: 768px){
  .footer{display: none;}
  .que_content {padding:15px 5px;}
  .que-bg{height: 40vh; padding:80px 20px 20px 20px}
  .que-bg iframe{display: none;}
  .que_content h1 {font-size:24px;}
  .que_content h2 {font-size: 15px;margin: 10px 0 5px 0;}
  .que_content p {margin: 3px 0; font-size: 14px;}
  .que_content p span {font-size:18px;}
  .que_content .btn-default{margin-top: 8px;}

}
@media only screen and (max-width: 500px){
  .success_details p label {font-size: 15px;width: 45%;}
  .success_details p span {font-size: 15px;width:55%;}
  .que_content p span{display: block; padding: 0;}
}


/*screen-xs*/
@media (max-width: 768px) { 
  .bg{background-color:blue;height:35%}
  h1 {font-size: 30px !important;}
  .inner {top: 30%; left: 50%;}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) { 
  .bg{background-color:green;}
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) { 
  .bg{background-color:yellow;}
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
  .bg{background-color:red;height:100%}
  .inner {top: 50%; left: 50%;}
}


@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  
  .que-bg{height: auto; padding:80px 20px 20px 20px}
  
}